.clearfix:before,
.clearfix:after
{
    display: table;
    content: " ";
}
.clearfix:after
{
    clear: both;
}
.fd-left
{
    float:left;
}
.fd-right
{
    float:right;
}
ul
{
    margin:0px;
    padding:0px;
    list-style:none;
}
a
{
    text-decoration:none;
}
.def-menu
{

}

.def-menu > ul > li
{
    float:left;
    line-height:45px;
    border-right:1px solid #526e88;

}
.def-menu > ul > li:first-child
{
    border-left:1px solid #526e88;
}
.def-menu > ul > li:last-child > a
{
    border-right:1px solid #1a2128;
}
.def-menu > ul > li > a
{
    color:#fff;
    display:block;
    padding:0 20px;
    border-left:1px solid #1a2128;
    text-decoration:none;
}
.def-menu > ul > li > a:hover
{
    background:rgba(0,0,0,0.2)
}
.def-menu > ul > li.active
{
    background-color: #97cb28;
    background-image: -moz-linear-gradient(top,#97cb28,#698f18);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#97cb28),to(#698f18));
    background-image: -webkit-linear-gradient(top,#97cb28,#698f18);
    background-image: -o-linear-gradient(top,#97cb28,#698f18);
    background-image: linear-gradient(to bottom,#97cb28,#698f18);
    background-repeat: repeat-x;
    border:none;
}

.dark.nav-3 {
    background-color: #3b4c5c;
}

.nav-wrp .nav-header {
    float: left;
    margin: 0;
    padding: 0;
}
.nav-sticky .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-wrp .navbar-brand {
    padding: 6px 0;
    height: auto;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.nav-sticky .navbar-brand img {
    max-height: 30px;
    max-width: 100%;
}

.nav-3 .nav {
    position: absolute;
    right: 15px;
    margin: auto;
    background:#3b4c5c;
}
.dark.nav-3 .btn-primary {
    border: 2px solid #ff6858;
    background-color: #ff6858;
    color: #fff;
}
.nav-3 .nav-other .btn {
    font-size: 13px;
    padding: 5px 15px;
    margin-left: 5px;
}

.dark.nav-3 .btn-primary {
    border: 2px solid #ff6858;
    background-color: #ff6858;
    color: #fff;
}
.nav-3 .nav-other .btn {
    font-size: 13px;
    padding: 5px 15px;
    margin-left: 5px;
}

.btn-sm, .btn-group-sm > .btn {
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

/**患者列表**/
ul.cus-list li a
{
    color:#333;
    margin:5px;
    line-height:30px;
    padding-left:20px;
    border:1px dashed #ccc;
    height:30px;
    display:block;
    position:relative;

}
ul.cus-list li a.active
{
    color:#698f18;
}
ul.cus-list li a.active span.cus-lbor
{
    background:#97cb28;
}
ul.cus-list li a span.cus-lbor
{
    position:absolute;
    top:0;
    left:0;
    width:10px;
    height:30px;
    background:#ccc;
    border-radius:0 50% 50% 0;
    display:block;
}
ul.cus-list li a:hover
{
    background:rgba(0,0,0,0.03);
}
ul.cus-list li a span.cus-name
{
    width:50px;
    display:inline-block;

}
/***/
/**二级导航**/
#nav .mainlevel ul {position:absolute; display:none; *width:2000px; z-index:9999;}
#nav .mainlevel ul li {float:left;  background:rgba(0,0,0,0.2);}
#nav .mainlevel ul li a {padding:0 12px; line-height:24px; height:24px; display:block; color:#fff;}
#nav .mainlevel ul li a:hover {color:#fff; text-decoration:none;}
.Triangle_con {height:9px; background:url(../images/index/bird.png) 36px 0 no-repeat; display:block; _margin-bottom:-6px;}

/****/
/**中间底部浮动导航**/
.bot-menu
{
    position:fixed;
    bottom:0;
    width:100%;
    z-index:3;
    background:url(../images/index/botmenu-bg.jpg) repeat-x 0 bottom;
    border-bottom:3px solid #ff6858;
    padding-left:10px;
    margin-top:10px;
    height:31px;
    line-height:31px;

}
.bot-out
{
    position:relative;
}
.bot-menu ul li
{


    float:left;
    padding:0 10px;



}
.bot-menu ul li a
{
    color:#333;
    display:block;
    text-align:center;
    line-height:38px;
}
.bot-menu ul li a:hover
{
    color:#698f18;
}
.bot-menu ul li a.active
{
    height:31px;
    line-height:31px;
    padding:0 10px 0 15px;
    color:#fff;
    background:#ff6858 url(../images/index/botmactive-bg.png) no-repeat;
}
/****/
/**详细页面*/
.margin10-bot {
    margin-bottom: 10px;
}
.text-center {
    text-align: center;
}
.tdtile-em {
    font-weight: bold;
}
.wrap-border {
    border: 1px solid #aabdcc;
    margin: 10px 0;
}
.block-tile {
    background: #d5eafb;
    padding: 0 0 0 10px;
    font-size: 14px;
    border-bottom: 1px solid #aabdcc;
}
.padding10 {
    padding: 10px;
}
.goh-sign-tab {
    margin: 0 auto;
    margin-bottom: 20px;
}
.goh-sign-tab tr td:nth-child(2n+1) {
    text-align: right;
    font-weight: bold;
}
.goh-sign-tab tr td {
    height: 30px;
    padding-top: 10px;
}
.goh-sign-tab tr td:nth-child(2n) {
    padding-left: 10px;
    border-bottom: 1px dashed #ccc;
}
.sub_title_em {
    margin: 10px 0px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    height: 25px;
    font-size: 14px;
    position: absolute;
    top: -23px;
    left: 25px;
    background: rgba(156, 205, 61,1);
    padding: 0 10px;
    line-height: 25px;
    border-radius: 5px 5px 0 0;
}
.pborder{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 10px 10px;
    background: #fff;
    margin: 10px;
    font-size: 15px;
}
.position-re {
    position: relative;
}
.width_90
{
    width:98%;
    margin:0 auto;
}
.detail-wrapp
{
    background: rgba(156, 205, 61,0.2);
    position: relative;
    padding: 1px;
    margin:25px 0 10px 0;
}
/***/
/**表单填写页面**/
.inp-form
{
    margin-left:20px;
    margin-top:10px;
    border-radius:20px;
    box-shadow:0px 0px 5px #ccc;
    padding:10px;
    float:left;
    width:60%;
}
.inp-tab
{
    float:right;
    width:30%;
    margin-top:10px;
}
.inp-tab table tr th
{
    background:#f8f8f8;
}
.inp-tab table tr td,.inp-tab table tr th
{
    text-align:center;
    height:30px;
}
/**2016-04-18 13:49:36，处方，chentianqi**/
.inp-tab-left{
    float:left;
    width:63%;
    height: 35%;
    margin-top:10px;
}
.inp-tab-left table tr th
{
    background:#f8f8f8;
}
.inp-tab-left table tr td,.inp-tab-left table tr th
{
    text-align:center;
    height:30px;
}
.inp-tab-center{
    float:left;
    width:80px;
    margin-top:60px;
    margin-left:10px;
}
.inp-tab-center a.easyui-linkbutton{
    display:block;
    text-align:left;
    margin-bottom:5px;
    width:70px;
    height:35px;
    line-height:35px;
}
.inp-tab-center a.easyui-linkbutton .l-btn-icon-left .l-btn-text
{
    margin: 5px 4px 0 24px;
}
.tab_cf_r tr td:first-child
{
    text-align:right !important;
}
.tab_cf_r tr td
{
    text-align:left !important;
}
.tab_cf_r tr td select.easyui-combobox
{
    width:200px;
}
/**end**/
.fitem label
{
    width:150px;
    text-align:right;
    display:inline-block;
    vertical-align:top;
}
.fitem_pop label{
    width:80px;
}
.inp-form .fitem input
{
    width:260px;
}
.form-btn
{
    text-align:center;
}
.save-btn
{
    width:120px;
    height:40px;
    background-color: #97cb28;
    background-image: -moz-linear-gradient(top,#97cb28,#698f18);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#97cb28),to(#698f18));
    background-image: -webkit-linear-gradient(top,#97cb28,#698f18);
    background-image: -o-linear-gradient(top,#97cb28,#698f18);
    background-image: linear-gradient(to bottom,#97cb28,#698f18);
    background-repeat: repeat-x;
    border: none;
    border-radius:5px;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}
.validatebox-textarea
{
    height:100px;
}

/****/
/**easy ui submenu*/
.m-btn .l-btn-left .l-btn-text .neweu-mparent
{
    margin-right:0px;
    line-height:45px;
}

.menu-content a
{
    color: #ffffff;;
    padding:0 10px;
    font-size:12px;
    display:inline-block;
    border-right:1px solid #aaa;

}
.menu-content a:last-child{
    border-right:none;
}
/***/



/*病历文书*/
.label,.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999
}

.label {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.badge {
    padding-right: 9px;
    padding-left: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px
}


.label-info,.badge-info {
    background-color: #3a87ad
}

.label-info[href],.badge-info[href] {
    background-color: #2d6987
}
.goh-sign-tab
{
    margin:0 auto;
    margin-bottom:20px;
}
.goh-sign-tab tr td
{
    height:30px;
    padding-top:10px;
}
.goh-sign-tab tr td:nth-child(odd)
{
    text-align:right;
    font-weight:bold;
}
.goh-sign-tab tr td:nth-child(even)
{
    padding-left:10px;
    border-bottom:1px dashed #ccc;
}
.goh-sign-tab.goh-notdborder tr td:nth-child(even)
{
    border-bottom:none;
}
/**手术申请**/
.close-btn
{
    display:block;
    width:15px;
    height:15px;
    color:#fff;
    background:#f00;
    border-radius:50%;
    line-height:15px;
    text-align:center;
    margin:0 auto;
}
.validatebox-text-xs
{
    width:10%
}
.validatebox-text-s
{
    width:20%
}
.validatebox-text-m
{
    width:50%
}
.validatebox-text-l
{
    width:80%
}
.apply-tab
{
    margin-bottom:10px;
}
.apply-tab tr td
{
    padding:10px 0 ;
    border-bottom:1px dashed #ccc;
}
.paddt-10
{
    padding-top:10px;
}
.validatebox-text-sh
{
    height:50px;
    vertical-align:top;
}
.inp-tab table tr td input[type="checkbox"]
{
    margin:auto 5px;
}
/****/
.easy-nbtn-s
{
    padding:0;

}

/**检验页面**/
.tab-autoline,.tab-rlist
{
    border-bottom:1px solid #ccc;
    border-right:1px solid #ccc;
}
.tab-autoline tr th,.tab-autoline tr td,.tab-rlist tr td,.tab-rlist tr th
{
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    height:30px;
}
.tab-autoline tr th
{
    background:#f8f8f8;

}
.tab-autoline tr td,.tab-rlist tr td
{
    text-align:center;
}
.nonbor-inp
{
    border:none;
    width:98%;

}
.inp-tab table.tab-rlist tr th
{
    background-color: #F2F2F2;
    background: -webkit-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: -o-linear-gradient(top,#ffffff 0,#F2F2F2 100%);
    background: linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#F2F2F2,GradientType=0);
}
.inp-tab table tr td.text-left
{
    text-align:left;
}
.padd-5
{
    padding:5px;
}
.easy-nbtn
{
    border:none;
    background:#ccc;
    border-radius:3px;
    padding:2px 5px;
    cursor:pointer;
    color:#fff;
    margin:5px;
}
.easy-nbtn img
{
    vertical-align:middle;
    margin-right:5px;
}
.easy-nbtn-s
{
    padding:0;

}
.easy-nbtn-success
{
    background:#97cb28;
}
.easy-nbtn-warning
{
    background:#ff6858;

}
.easy-nbtn-info
{
    background:#5bc0de;
}
.tab-bbtn
{
    padding-top:10px;
}
.margb-10
{
    margin-bottom:10px;
}
.text-right
{
    text-align:right;
}
.vt-text-percent
{
    width:85%;
}
.inp-tab table tr td.text-right
{
    text-align:right;
}
.inp-tab table tr td.text-left,.tab-autoline tr td.text-left, .tab-rlist tr td.text-left
{
    text-align:left;
}
/****/
